spring:
  application:
    name: auth
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:auth_db}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: update
jwt:
  secret: ${JWT_SECRET:default_secret_key_which_should_be_very_long_in_production}
  access-token-expiration: 900000
  refresh-token-expiration: 86400000
server:
  port: ${SERVER_PORT:8085}
services:
  users:
    url: ${USERS_SERVICE_URL:http://localhost:8081}